<div class="page-header">
  <h1>Event console <%= link_to 'New Event', new_admin_event_path, :class => 'btn btn-default' %></h1>
</div>


<table class="table table-hover table-striped">

<tr>
  <th>Status</th>
  <th>Title</th>
  <th>Description</th>
  <th>Start_at</th>
  <th>Due_at</th>
  <th></th>
</tr>
<% @event.each do |x| %>
  <tr>
    <td><%= x.status %></td>
    <td><%= link_to x.title, admin_event_path(x) %></td>
    <td><%= simple_format(x.description) %></td>
    <td>
      <%= x.start_date %> |
      <%= x.start_time.strftime("%H:%M") %>
    </td>
    <td>
      <%= x.due_date %> |
      <%= x.due_time.strftime("%H:%M") %>
    </td>
    <td>
      <%= link_to edit_admin_event_path(x), :class => "btn btn-xs" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to admin_event_path(x), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs" do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>


<%= paginate @event, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
