

<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center"> 
    <% if current_user && current_user.orders.exists? && current_user.orders.joins(:trades).where('trades.paid = true').exists? %>

      <div class="vip-pass">
        <%= image_tag @qrcode, :id => "qr-code" %>
        
      </div>
      <div class="vip-info">
        <h3><%= @order_info.vip.name %></h3>
        <h4><%= @order_info.vip.store.name %></h4>
        <h5><%= @order_info.vip.datetime.strftime("%m/%d/%Y %I:%M%p") %></h5>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">

    <h1>Vip order</h1>

    <div id="order">
      <%= form_for @order, :url => orders_path do |n|  %>

        <div class="form-group select">
          <%= n.label :vip_id, "Service" %>
          <%= n.select :vip_id, Vip.all.map{ |x| [x.name, x.id, {'data-price' => x.price}, {'data-date' => x.datetime}] }, {}, :class => "form-control", :id => "vip-select" %>
          <div class="service-date">123</div>
        </div>

        <div class="form-group">
          <%= n.label :quantity, "Quantity" %>
          <%= n.number_field :quantity, :class => "form-control", :id => "quantity" %>
        </div>

        <div class="form-group">
          <%= n.label :price, "Price" %>
          <%= n.label :price, :class => "form-control", :id => "price" %>
        </div>

        <div class="form-group">
          <%= n.label :payment_method, "Payment method" %>
          <%= n.select :payment_method, ["Credit"], :class => "form-control", :id => "price" %>
        </div>

        <%= n.submit "確認", :class => "btn btn-primary" %>

      <% end %>
    </div>

  </div>
</div>

<div class="empty200px"></div>



<script>
$(document).ready(function(e){

  if ($(window).width() < 600) {
    var $window = $(window).on('resize', function(){
      var height = $('.vip-pass').width() * 5/6;
      $('.vip-pass').css("padding-top", height);
      $('.vip-pass').css("height", height * 2);
    }).trigger('resize');
  }else if ($(window).width() > 990 && $(window).width() < 1300) {
    var $window = $(window).on('resize', function(){
      var height = $('.vip-pass').width() * 5/6;
      $('.vip-pass').css("padding-top", height);
      $('.vip-pass').css("height", height * 2);
    }).trigger('resize');
  }

  $( "div.example" ).css( "width", function( index ) {
    return index * 50;
  });

  var quantity = 0;
  var total = 0;
  var price = $('#vip-select').children('option:selected').data("price");
  $('.service-date').text($('#vip-select').children('option:selected').data("date"));
  $('#price').text(price);

  var sum = function(price, quantity){
    quantity = $('#quantity').val();
    total = parseInt(price) * parseInt(quantity);
  };

  $( "#vip-select" ).change(function(){
    $('.service-date').text($('#vip-select').children('option:selected').data("date"));
    price = $('#vip-select').children('option:selected').data("price");
    sum(price, quantity)
    $('#price').text(total);
  });

  $('body').on('keyup', '#quantity', function(){
    sum(price, quantity)
    $('#price').text(total);
  });

  // $( "#vip-select" ).select2({
  //   placeholder: "Select a service"
  // });
  
});
</script>