<div class="page-header">
  <h1>Store console <%= link_to 'New store', new_admin_store_path, :class => "btn btn-default" %></h1>
</div>


<%= form_tag admin_store_index_path, :method => :get, :class => "pull-right search-store" do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search", :class => "btn btn-xs btn-default" %>
<% end %>


<%= paginate @store, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :calss => "pull-left" %>
<div class="clearfix"></div>

<div class="col-md-12">

  <table class="table table-hover table-striped">
    <tr>
      <th>image</th>
      <th>Name</th>
      <th>Phone</th>
      <th>City</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
    </tr>
      <% @store.each do |x| %>
      <tr>
        <td><%= image_tag(x.try(:yelp_image)) %></td>
        <td><%= link_to x.name,admin_store_path(x) %></td>
        <td><%= x.phone %></td>
        <td><%= x.location_city %></td>
        <td><%= x.location_address %></td>
        <td>
        <% if false %>
          <% if x.description.length > 30 %>
            <%= x.description.first(30) %>...
          <% else %>
            <%= x.description %>
          <% end %>
        <% end %>
        </td>
        <td>
          <%= link_to edit_admin_store_path(x), :class => "btn btn-xs" do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to admin_store_path(x), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs" do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>
        <% end %>
    </tr>
  </table>

  
  <%= paginate @store, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
  
  <br>
  <%= link_to 'New store', new_admin_store_path, :class => "btn btn-default" %>
</div>
