<h1><%= @store.name %></h1>

<table class="table table-striped">
  <tr>
    <td>Category:</td>
    <td><%= @store.category.name %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= @store.phone %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @store.location_city %></td>
  </tr>
  <tr>
    <td>Address:</td>
    <td><%= @store.location_address %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%= simple_format(@store.description) %></td>
  </tr>
  <tr>
    <td>Hours</td>
    <td><%= simple_format(@store.hours) %></td>
  </tr>
  <tr>
    <td>coordinate_lat</td>
    <td><%= @store.coordinate_lat %></td>
  </tr>
  <tr>
    <td>coordinate_lon</td>
    <td><%= @store.coordinate_lon %></td>
  </tr>
  <tr>
    <td>yelp_id</td>
    <td><%= @store.yelp_id %></td>
  </tr>
  <tr>
    <td>yelp_image</td>
    <td><%= image_tag(@store.try(:yelp_image)) %></td>
  </tr>
</table>


<%= link_to "Back", admin_store_index_path, :class => "btn btn-default" %>