

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  
    <% if @store.yelp_image == nil %>
      <%= image_tag('store_default.jpg', :class => 'store-show-image') %>
    <% else %>
      <%= image_tag(@store.yelp_image, :class => 'store-show-image') %>
    <% end %>

    <table class="table">
    <tr>
      <td>
        <p><%= @store.name %></p>
      </td>
    </tr>
    <tr>
      <td>
        <a href="tel:<%= @store.phone %>"><%= @store.phone %></a>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @store.location_city %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @store.location_address %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @store.coordinate_lat %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @store.coordinate_lon %></p>
      </td>
    </tr>
  </table>
  </div>
</div>