<div class="banner">
  <!-- <video autoplay id="bgvid" loop poster="" preload="auto" loop="" autoplay="" muted="">
    <source src="http://reservelounge.com/wp-content/uploads/2015/06/Video-Header1.m4v" type="video/mp4">
  </video> -->
  <div id="bgvid"></div>
  <div class="empty200px"></div>
  <h1>TipsyAsia</h1>
  <div class="empty300px"></div>
</div>
<div class="container">
  <div class="owl-carousel">
    <div> <%= image_tag("img1.jpg") %> </div>
    <div> <%= image_tag("img2.jpg") %> </div>
    <div> <%= image_tag("img3.jpg") %> </div>
    <div> <%= image_tag("img4.jpg") %> </div>
    <div> <%= image_tag("img5.jpg") %> </div>
  </div>
</div>
<div class="container">

  <% Dj.all.limit(5).each do |x| %>
    <div>
      <%= image_tag x.photo.url(:medium), :class => "img-circle" %> 
    </div>
  <% end %>

</div>




<script>
  $(document).on("page:change", function(){

    $(".owl-carousel").owlCarousel({
      autoPlay: 3000,
      items : 3,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]
    });

  })
</script>