<div class="banner">
  <div id="banner-bg"></div>
  <div class="black-wrap"></div>
  <div class="jumbotron text-center">
    <div class="container">
      <div class="empty200px"></div>
      <h1>探索台北夜晚新生活</h1>
      <h3>放鬆 x 狂歡</h3>
      <div class="empty100px hideen-xs"></div>
      <p>
        <a href="#content1" class="banner-btn">EXPLORE<br><i class="fa fa-chevron-down"></i></a>
      </p>
    </div>
  </div>
</div>


<div id="content1" class="wrap">
  <div class="col-md-5 col-l1">
    <div class="event-info">
      <h2>別人錯過的<br>你不會錯過</h2>
      <p>Ladies’ Night 、Happy Hour、<br> 
      暢飲日、知名DJ表演，主題派對<br>
      讓你過著大家羨慕的夜晚生活！</p>
      <a id="event-button" href="#" >查看熱門活動</a>
    </div>
  </div>
  <div class="col-md-7 col-r1">
    <div class="col-xs-6 col-md-6 rt1">
      <%= image_tag("rt1.jpg") %>
    </div>
    <div class="col-xs-6 col-md-6 rt2">
      <%= image_tag("rt2.jpg") %>
    </div>
    <div class="col-xs-4 col-md-4 rm1">
      <%= image_tag("rm1.jpg") %>
    </div>
    <div class="col-xs-4 col-md-4 rm2">
      <%= image_tag("rm2.jpg") %>
    </div>
    <div class="col-xs-4 col-md-4 rm3">
      <%= image_tag("rm3.jpg") %>
    </div>
    <div class="col-xs-12 col-md-7 rb1">
      <div class="black-wrap"></div>
      <div class="container">
        <h2>特別精選，<br>給特別的你</h2>
        <p>TIPSY團隊不定期推出特別精選，<br>
        每次主題都經過細心規劃。</p>
      </div>
    </div>
    <div class="col-md-5 rb2 hidden-xs"></div>
  </div>
</div>



<div id="dj-block" class="col-xs-12">
<div id="content2" class="wrap2 text-center">
  <div class="jumbotron">
    <div class="container">
      <h1>DJ Playlist</h1>
      <p>先瞭解播歌的風格，不再讓音樂成為噪音！</p><br><br>
      <p><%= link_to '查看', djs_path, :class => "dj-btn" %></p>
    </div>
  </div>
</div>
</div>


<div id="vip" class="col-xs-12">
<div id="content2" class="wrap2 text-center">
  <div class="black-wrap"></div>
  <div class="jumbotron">
    <div class="container">
      <h1>VIP SERVICE</h1>
      <p>去夜店還在排隊？ 現在就預定VIP服務，成為別人羨慕的對象！</p><br><br>
      <p><a class="vip-btn" href="#" data-toggle="modal" data-title="" data-target="#vip-modal">立刻預約</a></p>
    </div>
  </div>
</div>
</div>

<div id="black-board">
  <div class="container">
    <a class="close-board pull-right" href="#"><i class="glyphicon glyphicon-remove"></i></a>
    <div class="content"></div>
    <div class="clearfix"></div>
  </div>
</div>




<script>


$(function() {

  // scroll smooth
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top - 50
        }, 600);
        return false;
      }
    }
  });
  

  

  // event-button
  $("#event-button").click(function(e){
  e.preventDefault();

    if ($(window).width() > 750) {    
      $('#black-board').show();

      $.ajax({
        url: '<%= v1_events_url %>',
        type: 'GET',
        dataType: 'json',
        data: {
          format: 'json',
        },
        success: function(data) {
          var len = data.data.length;
          var info = ""
          for (i = 0; i < len; i++) { 
            var img = data.data[i].image
            var url = data.data[i].url
            
            info += "<a href='" + url + "'><img class='event-img' src='" + img + "''></a>" ;
          }
          $('#black-board .content').html(info);
          // $('#black-board .content').slideDown(400);
        },
      });
      
    }else {
      window.location.href = '<%= events_url %>';
    }

  });

  // $(document).ready(function() {
  //   $("#black-board .content").owlCarousel({
  //     autoPlay: 3000,
  //     items : 3,
  //     itemsDesktop : [1199,3],
  //     itemsDesktopSmall : [979,3]
  //   });
  // });


  // hide events
  $(".close-board").click(function(e){
    e.preventDefault();
    $('#black-board').hide();
  });
  $(document).keydown( function( event ) {
    if ( event.which == 27 ) {
      $('#black-board').hide();
    }
  });



  // resize content element
  if ($(window).width() > 750) {
    var $window = $(window).on('resize', function(){
       var height = $('.col-l1').width() * 2;
       var height3 = $('.col-l1').width() * 0.6;
       var height2 = $('.col-l1').width() * 0.4;
       var height5 = $('.col-l1').width();
       $('.col-l1, .col-r1').height(height);
       $('.rt1, .rt2').height(height3);
       $('.rm1, .rm2, .rm3').height(height2);
       $('.rb1, .rb2').height(height5);
       $('.rb1 p').css("margin-top", height5 / 3);
    }).trigger('resize'); //on page load
  }else {
    $(".rb1").insertBefore(".rm1");
  }

  // vip modal info
  $(document).on('click', ".vip-btn", function(){
    var content = (
      "<p>請撥打專線： <span><a href='tel:+886912345678'>0912-345-678</a></span></p><p>Line: lineme</p><p>QQ: qqqqqq</p><p>Skype: sksksk</p>");
    $('#vip-modal .modal-title').html("");
    $('#vip-modal .modal-body').html("");
    $('#vip-modal .modal-title').append("VIP 貴賓尊榮服務");
    $('#vip-modal .modal-body').append(content);
  });


});


</script>




