<div class="page-header">
  <h1>DJ console <%= link_to 'New DJ', new_admin_dj_path, :class => 'btn btn-default' %></h1>
</div>

<table class="table table-hover table-striped">
  
  <tr>
    <th>Photo</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>
  <% Dj.all.each do |x| %>
  <tr>
    <td>
      <% if x.photo.exists? == false %>
        <%= image_tag("dj_img.png", :class => "img-rounded dj-list-img") %>
      <% else %>
        <%= image_tag x.photo.url(:thumb), :class => "img-rounded dj-list-img" %>
      <% end %>
    </td>
    <td><%= link_to x.name, admin_dj_path(x) %></td>
    <td>
      <% if x.description.length >100 %>
        <%= x.description.first(100) %>...
      <% else %>
        <%= x.description %>
      <% end %>
    </td>
    <td>
      <%= link_to edit_admin_dj_path(x), :class => "btn btn-xs" do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to admin_dj_path(x), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-xs" do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </td>
  </tr>
  <% end %>

</table>



<%= link_to 'New DJ', new_admin_dj_path, :class => 'btn btn-default' %>