
<div class="col-md-6 col-md-offset-3 dj-show-left">
  <div class="col-xs-12">
    <% if @dj.photo.exists? %>
      <%= image_tag @dj.photo.url, :class => "" %>
      
    <% else %>
      <%= image_tag("dj_img.jpg", :class => "") %>
    <% end %>
    <h1><%= @dj.name %></h1>
  </div>
  
</div>

<div class="col-md-6 col-md-offset-3 dj-show-right">
  <h3>播放清單：</h3>
  <% @dj.playlists.each do |x| %>
    <div class="col-xs-12">
      <%= raw(x.content) %>
    </div>
  <% end %>
</div>

<div class="col-md-6 col-md-offset-3 dj-events">
  <h3>演出活動：</h3>
  <div class="row">
  <% @dj.events.public_event.each do |x| %>
    <div class="col-md-6">
      <%= link_to image_tag(x.edm, :class => "image-edm"), event_path(x) %>
    </div>
  <% end %>
  </div>
</div>