
<div class="col-xs-12 col-md-3 col-md-offset-1">
  <%= image_tag(@event.edm(:medium), :class => "event-show-edm") %>
</div>


<div class="col-xs-12 col-md-6">
  <h3 class="text-center" ><%= @event.title %></h3>
  <table class='table'>
    <tr>
      <th><p>Description:</p></th>
      <td><p><%= @event.description %></p></td>
    </tr>
    <tr>
      <th><p>Price:</p></th>
      <td><p><%= @event.price %></p></td>
    </tr>
    <tr>
      <th><p>Start_at:</p></th>
      <td><p>
        <%= @event.start_date %> |
        <%= @event.start_time.strftime("%H:%M") %>
      </p></td>
    </tr>
    <tr>
      <th><p>DJ:</p></th>
      <td><p>
        <% @event.djs.each do |x| %>
          <%= link_to x.name, dj_path(x), :class => "btn btn-default btn-xs" %>
        <% end %>
      </p></td>
    </tr>
    <tr>
      <th><p>Store:</p></th>
      <td><p><%= link_to @event.store.name, stores_url, :class => "btn btn-default btn-xs" %></p></td>
    </tr>
    <tr>
      <th><p>Address:</p></th>
      <td><p><%= @event.store.location_address %></p></td>
    </tr>
    <tr>
      <th><p>Contact:</p></th>
      <td><p><%= @event.contact %> <%= @event.phone %></p></td>
    </tr>

  </table>
</div>
