<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable:0">
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% @controller = params[:controller] %>
<% @action = params[:action] %>


<body class="<%= @controller %>">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png', :class => "navbar-brand"), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li class=""></li>
        <li class="dropdown <%= @controller == "categories" ? "active" : "" %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'All', stores_path %></li> 
            <li><a href="#">Pub</a></li>
            <li><a href="#">Club</a></li>
            <li><a href="#">Bar</a></li>
            <li><a href="#">Other</a></li>
          </ul>
        </li>
        <li class="<%= @controller == "events" ? "active" : "" %>"><%= link_to 'Event', events_path %></li>
        <li class="<%= @controller == "djs" ? "active" : "" %>"><%= link_to 'DJ', djs_path %></li>
        <li><a href="#">Meetup</a></li>
        <li><a href="#">Taxi</a></li>
        <li role="separator" class="divider visible-xs-block"></li>
        <% if current_user %>
          <li class="<%= @action == "profile" ? "active" : "" %>"><%= link_to 'Setting', profile_path(current_user) %></li>
        <% else %>
          <li><%= link_to('Sign up', new_registration_path(:user), :class => "hidden-xs") %></li>
          <li><%= link_to('Log in', new_session_path(:user)) %></li>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
        <% if current_user %>
          <% if current_user.admin? %>
            <li><%= link_to 'Admin', admin_root_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<%= yield %>

</body>
</html>
