<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path('iphone_icon.png') %>">
  <title>Tipsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% @controller = params[:controller] %>
<% @action = params[:action] %>


<body class="<%= @controller %>">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png', :class => "navbar-brand"), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li class=""></li>
        <li class="<%= current_page?(events_path) ? "active" : "" %>"><%= link_to '熱門活動', events_path %></li>
        <li class="<%= current_page?(stores_path) ? "active" : "" %>"><%= link_to '精選夜店', stores_path %></li>
        <li class="<%= current_page?(djs_path) ? "active" : "" %>"><%= link_to 'DJ', djs_path %></li>
        <li class="<%= current_page?(vips_path) ? "active" : "" %>"><%= link_to 'VIP', vips_path %></li>
        <li role="separator" class="divider visible-xs-block"></li>
        <% if current_user %>
          <li class="<%= current_page?(profile_path(current_user)) ? "active" : "" %>"><%= link_to 'Setting', profile_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
        
        <% if current_user && current_user.admin? %>
            <li><%= link_to 'Admin', admin_root_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if @controller.first(6) == 'devise' %>
  <div class="col-md-4 col-md-offset-4">
    <%= yield %>
  </div>
<% end %>

<% unless @controller.first(6) == 'devise' %>
  <%= yield %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="vip-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- alert -->
<div id="show_alert" style="display:none;"></div>

<% if flash[:success].present? %>
  <script>
    $('#vip-modal').modal('show');
    $('#vip-modal .modal-title').html("");
    $('#vip-modal .modal-body').html("");
    $('#vip-modal .modal-title').append("感謝您的來信！");
    $('#vip-modal .modal-body').append('<%=flash[:success]%>');
  </script>  
<% end %>
<% if flash.now[:wrong].present? %>
  <script>
    $('#vip-modal').modal('show');
    $('#vip-modal .modal-title').html("");
    $('#vip-modal .modal-body').html("");
    $('#vip-modal .modal-title').append("ERROR!!!");
    $('#vip-modal .modal-body').append('<%=flash.now[:wrong]%>');
  </script>  
<% end %>



</body>
</html>







